body { 
    padding: 50px 20px; 
    font: 12px "Lucida Grande", Helvetica, Arial, sans-serif; 
}

.content {
    width:800px;     
}

.vevent { 
    padding:10px;
    margin-bottom:10px;
    border-bottom: 1px solid #aaa;
}

.summary { 
    font-size: 14px; 
    font-weight:bold; 
    padding-bottom:5px; 
}
