body { background:#fff; font-family:Helvetica, Arial, sans-serif; color:#666; font-size:12px; padding:0; margin:0; }

h1 { font-size:24px; line-height:150%; margin-bottom:15px;}
h2 { font-size:18px; line-height:150%; margin-bottom:15px;}
h3 { font-size:16px; line-height:150%; margin-bottom:15px;}

a:link, a:visited { color:#96a044; text-decoration:none; }
a:hover, a:active { color:#96a044; text-decoration:underline; }

.right { float:right; }
.left { float:left; }
.clear { clear: both; }

#page-header {
  height:20px;
  padding:15px 20px;
  margin-bottom:20px;
  
  text-transform: uppercase;
  color:#fff;
  background-color: #992739;
  -webkit-box-shadow: 0px 2px 5px #666;
  -moz-box-shadow: 0px 2px 5px #666;
  box-shadow: 0px 2px 5px #666;
}

#title  {
  width:200px;
  color: #ffffff;
  font-size:18px;
}

.main {
  width:960px;
  position:absolute;
  left:50%;
  margin-left:-480px;
}

#sidebar {
  width:320px;
  padding:0;
  float:left;
}

/* Generic Sidebar Box */
.sidebar_box {
  border-width: 8px 4px 9px 4px;
  border-image: url(images/widget-border.png) 8 4 9 4 stretch;
  -moz-border-image: url(images/widget-border.png) 8 4 9 4 stretch;
  -webkit-border-image: url(images/widget-border.png) 8 4 9 4 stretch;
  margin-bottom: 20px;
}

.sidebar_box_title {
  text-transform: uppercase;
  background-color: #e89a41;
  padding: 0px 0px 8px 16px;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
}

.sidebar_box_content {
  padding: 10px 10px 20px 20px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  position: relative;
}

/**
 * Main Content Section
 */
#content {
  background-color: transparent;
  float:left;
  width: 900px;
  margin-right:20px;
  border-width: 20px 24px 29px 24px;
  border-image: url(images/content-border.png) 20 24 29 24 stretch;
  -moz-border-image: url(images/content-border.png) 20 24 29 24 stretch;
  -webkit-border-image: url(images/content-border.png) 20 24 29 24 stretch;
  width: 570px;
}

.content-inner {
  background-color: #FFFFFF;
  padding: 10px;
}

.content-header {
  background-color: transparent;
  color: #fff;
  margin-left: -40px;
  margin-right: -20px;
  margin-bottom: 1em;
  
  border-width: 0px 0px 10px 0px;
  -webkit-border-image: url(images/project-overview-dropshadow.png) 0 0 10 0 stretch;
  -moz-border-image: url(images/project-overview-dropshadow.png) 0 0 10 0 stretch;
  border-image: url(images/project-overview-dropshadow.png) 0 0 10 0 stretch;
}

.content-header > * {
  background-color: #666;
  padding-left: 20px;
}

.content-header h1 {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  padding: 5px;
  margin-bottom: 0px;
}

.cal-event { margin:20px 0; }
  .cal-event h1 { color:#543547; font-weight:bold; font-size:18px; line-height:20px; text-transform: uppercase; margin-bottom:5px; }
  .cal-whenwhere { color:#99283a; }
  .cal-description {}

.cal-add-button {
  background: transparent url('images/cal-add-btn.png') no-repeat top;
  border:none;
  width: 320px;
  height: 62px;
  margin-bottom: 20px;
  cursor:pointer;
  
  text-transform: uppercase;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  
  text-shadow: 0px -1px 0px #999999;
  filter: dropshadow(color=#999999,offX=0,offY=1);
}

/* Footer */
#footer {
  float: left;
  width: 920px;
  height: 140px;
  font-weight: bold;
}

#footer ul li {
  list-style: none;
  display: block;
  float: left;
  border-right: 1px solid #666;
  padding: 0 4px 0 4px;
}

#footer ul li:last-child {
  border:none;
}

#footer ul li a {
  color: #533549;
  text-transform: uppercase;
}

#footer ul, #footer p {
  float: left;
  display: block;
}

#footer .footer-logo img {
  float: right;
  margin-top: 1em;
  display: block;
}

#footer span {
  color: #333333;
}

#footer p {
  color: #999999;
}


/**
 * Forms
 */
form .form-item-wrapper {
  margin-bottom: 10px;
}

form .label-wrapper {
  display: block;
  height: 20px; 
  margin-bottom: 10px;
  margin-top: 5px;
}

form label {
  background-color: #E89A41;
  padding: 5px;
  font-size: 1.25em;
  font-weight: bold;
  color: #FFFFFF;
  text-transform: uppercase; 
}

form .textarea,
form .textfield {
  border: none;
  background-color: #AAAAAA;
  color: #FFFFFF;
  font-size: 1.25em;
  padding: 10px;
  margin-bottom: 15px
}


form .textarea:hover,
form .textfield:hover,
form .textarea:focus,
form .textfield:focus {
  background-color: #666666;
}

form .textarea {
  width: 860px;
  height: 40px;
}

form .form-item-help {
  margin-left: 10px;
  color: #333333;
}

form .form-filefield-wrapper {
  margin-bottom: 20px;
}

form .submit {
  background-color: #96A044;
  padding: 15px;
  font-size: 1.75em;
  color: #FFFFFF;
  border: none;
  text-transform: uppercase;
}

form .form-item-help img {
  width: 20px;
  height: 20px;
  background-color: #FF88C0;
  padding-bottom: 20px;
}