.skinny-overlay{
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index:1001;
  -moz-opacity: 0.8;
  opacity:.80;
  filter: alpha(opacity=80);
}

.skinny-box {
  display: none;
  position: fixed;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  padding: 25px;
  border: 1px solid #666;
  background-color: #fff;
  z-index:1002;
  overflow: auto;
  
  -webkit-box-shadow: 2px 4px 8px #000;
  -moz-box-shadow: 2px 4px 8px #000;
  box-shadow: 2px 4px 8px #000;
}