<ol>
  <li>Environment</li>
  <li>Arts and Culture</li>
  <li>Public Safety</li>
  <li>Parks and Recreation</li>
  <li>Economy and Jobs</li>
  <li>Education</li>
  <li>Families and Children</li>
</ol>
